<!--
<form action="<%= users_path %>" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">

  <label for="email">Email</label>
  <input type="text" name="user[email]" id="email">

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">

  <input type="submit" value="Create User">
</form>

<%= form_tag(users_path, method: "post") do %>
  <%= label_tag(:username, "Username") %>
  <%= text_field_tag(:username) %>

  <%= label_tag(:email, "Email") %>
  <%= text_field_tag(:email) %>

  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:password) %>

  <%= submit_tag("Create User") %>
<% end %>

-->

<%= form_with model: @user do |form| %>
  <!-- Set Default value as "Henry" -->
  <%= form.label :username, "Your Username" %>
  <%= form.text_field :username, placeholder: "Username" %>

  <%= form.label :email, "Your Email Goes here" %>
  <%= form.text_field :email, placeholder: "foo@bar.com" %>

  <%= form.label :password, "Your Password" %>
  <%= form.password_field :password, placeholder: "Password" %>

  <%= form.submit %>
<% end %>

<div class="flash">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
</div>
<!-- Show errors if any -->
<div class="errors">
  <% if @user.errors.any? %>
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>
