<!--
<form action="<%= users_path %>" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <label for="username">Name</label>
  <input type="text" name="user[username]" id="username">

  <label for="email">Email</label>
  <input type="text" name="user[email]" id="email">

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">

  <input type="submit" value="Create User">
</form>
-->

<%= form_with model: @user do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :email %>
  <%= form.text_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit %>
<% end %>

<div class="flash">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
</div>
<!-- Show errors if any -->
<div class="errors">
  <% if @user.errors.any? %>
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>
